<div class="body">

    <div class="profileHeader">
        <h1>Heitor Ferreira de Andrade</h1>
        <div class="profileOptions">
            <button class="enter"
                    mat-raised-button color="primary">
                    Editar Informações
            </button>
            <a class="enter" [href]="'../../../assets/img/Curriculo.pdf'" [download]="'Curriculo_Heitor_Ferreira'"
                    mat-raised-button color="primary">
                    Baixar PDF
            </a>
        </div>
    </div>
    
    <mat-divider></mat-divider>
    <div class="dados">
        <div fxFlex="30" class="foto">
            <img src="../../../assets/img/fotoPerfil.png" width="50%" height="50%">
        </div>
        <div fxFlex="70" class="info">
            <div class="line">
                <span class="lineHeader"> 
                    Dados pessoais  
                </span>
                <mat-divider></mat-divider>
            </div>

            <div class="line">
                <span fxFlex="50"> Formação: Ciência de Dados </span>
                <span fxFlex="50"> Idade:  22 </span>
            </div>

            <div class="line">
                <span fxFlex="50"> Email: heitorfa@gmail.com </span>
                <span fxFlex="50"> Telefone:  (18) 99199-9999</span>
            </div>

            <div class="line">
                <span class="lineHeader"> Principais Competências: </span>
                <mat-divider></mat-divider> 
            </div>

            <div class="line">
                <ul>
                    <li> Programação </li>
                    <li> Marketing </li>
                    <li> Gestão de Pessoas</li>
                </ul>
            </div>
            
            <div class="line">
                <span class="lineHeader"> Projetos envolvidos: </span>
                <mat-divider></mat-divider> 
            </div>

            <div class="line">
                <ul>
                    <li> Inova Osvaldo Cruz</li>
                    <li> Ação Jovem</li>
                    <li> Prontuário Eletrônico</li>
                </ul>
            </div>

            <div class="line">
                <span class="lineHeader"> Atividades  Realizadas: </span>
                <mat-divider></mat-divider>
            </div>

            <div class="line">
                <ul>
                    <li> Cadastro de Formulários no Inova Osvaldo Cruz </li>
                    <li> Serviço de Fotógrafo no Ação Jovem - 03/2023 </li>
                    <li> Captação de <i>Leads</i> para o programa Ação Jovem - 03/2023</li>
                    <li> Recepção e acompanhamento de Pessoas durante implantação do Prontuário Eletrônico</li>
                </ul>
            </div>

            <div class="line">
                
            </div>
           
            
        </div>
    </div>
    <div class="footer"></div>

</div>